BLOG_ENV_ID=local
BLOG_SECRET_KEY=replace-with-secret
BLOG_ALLOWED_HOSTS=127.0.0.1,localhost
BLOG_TIME_ZONE=UTC

BLOG_DB_NAME=blog_api
BLOG_DB_USER=blog_user
BLOG_DB_PASSWORD=blog_password
BLOG_DB_HOST=127.0.0.1
BLOG_DB_PORT=5432

BLOG_REDIS_URL=redis://127.0.0.1:6379/1
BLOG_EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
BLOG_DEFAULT_FROM_EMAIL=no-reply@blog-api.local

BLOG_CELERY_BROKER_URL=redis://redis:6379/1

BLOG_FLOWER_USER=admin
BLOG_FLOWER_PASSWORD=changeme

BLOG_SEED_DB=false
